{% extends 'base.html' %}

{% block title %}{{ super() }} &raquo; Web application development and data mining in Barcelona{% endblock %}

{% block content %}
<img alt="" src="/static/img/pages/about_us.png"/>

<p><b>Accopensys</b>, founded in 2006, is a cutting edge company in software industry that helps companies implement solutions based on software development. Our company provides organizations with an automated and highly accurate way to manage information, and to be sure that all processes are in compliance with maximum efficency. Our mission is to bring efficiency and productivity to our customers. This is achieved by automating corporate processes, by creating management tools, smart data analysis systems, and by integrating all these systems to work together.

<p>Accopensys is headquartered in Barcelona, Spain, and its solutions are used by companies such as <a href="http://www.unilever.es/">Unilever</a>, <a href="http://portal.lacaixa.es/">"la Caixa"</a>, and other leading companies.</p>

<p>Accopensys focuses its efforts in two main areas of services, <a href="/application-development/">application development</a> and <a href="/data-mining/">data mining</a>, providing a wide range of solutions for information management, presentation and understanding.</p>

{% endblock %}

