{% extends 'base.html' %}

{% block title %}{{ super() }} &raquo; Contact us{% endblock %}

{% block content %}
<form method="post" action="." id="contact">
    <p>Contact us now, and discover how Accopensys can help your organization.</p>

    <label>Name:</label>
    <input type="text" name="name"/>

    <label>Email and/or phone number:</label>
    <input type="text" name="email"/>

    <label>Message:</label>
    <textarea name="comment"></textarea>

    <input type="submit" value="Send"/>
</form>

{% endblock %}


