{% extends 'base.html' %}

{% block title %}{{ super() }} &raquo; Data mining{% endblock %}

{% block content %}
<img alt="" src="/static/img/pages/data_mining.png"/>

<p>With the evolution in computer machinery, more and more data is generated every second, in every company and every institution. All this data, contains important information for day to day work. But also, this data as a whole, can provide extremely valuable knowledge for strategic planning, and for understanding the business. Data mining is the art of extracting this knowledge from large amounts of data, and at Accopensys we are experts, and we have a lot to offer.</p>

<p><b>Predictive models</b> can let you manage the uncertainty in your business better. Classic time series forecasting methods are only a small part of all what can be done.</p>

<p><b>Clustering</b> your information, you can group millions of customers in a reduced group of clusters that behave the same way. With this reduced group it's easy to reason, to plan, and to decide your strategies, and to customize the experience of each user based on its group.</p>

<p><b>Visualization</b> techniques which can help you see what is going on in your business in the simplest way. Simple charts can show you complex things.</p>

{% endblock %}
