{% extends 'base.html' %}

{% block title %}{{ super() }} &raquo; Privacy statement{% endblock %}

{% block content %}
<h1>Privacy Statement</h1>
<p>
    <a href="#info">Information Collection</a><br/>
    <a href="#notice">Notice</a><br/>
    <a href="#cookies">Cookies and Other Tracking Technologies</a><br/>
    <a href="#use">How We Use Information Collected</a><br/>
    <a href="#information_sharing">Information Sharing and Disclosure</a><br/>
    <a href="#access">Your Ability to Access, Update or Deactivate Your Information</a><br/>
    <a href="#data_security">Data Security</a><br/>
    <a href="#children">Children and Privacy</a><br/>
    <a href="#third_party">Third Party Sites</a><br/>
    <a href="#changes">Changes to this Privacy Statement</a><br/>
    <a href="#questions">Questions or Suggestions</a><br/>
</p>

<br/><hr/><br/>

<p>Accopensys respects your privacy and is committed to protecting the personal information you share with us. This statement describes how Accopensys Systems collects and uses your personal information to provide services that you request or when you choose to provide us with your personal information.</p>

<h2 id="info">Information Collection</h2>

<p>Personal information means any information that may be used to identify an individual, including, but not limited to, a first and last name, email address, a home, postal or other physical address, other contact information, title, occupation, industry, personal interests, and other information when needed to provide a service or product or carry out a transaction you have requested.</p>
<p>When you browse our website, you do so anonymously, unless you have previously registered with us. We do not automatically collect personal information, including your email address. We do log your IP address (the Internet address of your computer) to give us an idea of which part of our website you visit and how long you spend there. But we do not link your IP address to any personal information unless you have registered with us. Like many other commercial websites, the Accopensys website may use a standard technologies, such as ?cookies? and other HTML tools, to collect information about how you use the site or to record that you opened an email marketing message. Please go to <a href="#cookies">"Cookies and Other Tracking Technologies"</a> below for more information.</p>
<p>Accopensys collects personal information when you register with Accopensys for a Accopensys account, when you use certain Accopensys products or services, when you register to attend a seminar or participate in an online survey, when you ask to be included in an email or other mailing list, or when you submit an entry for a sweepstakes or other promotions, or when you submit your personal information to Accopensys for any other reason. From time to time, Accopensys receives personal information from business partners and vendors. Accopensys only uses such information if it has been collected in accordance with acceptable privacy practices consistent with this Privacy Statement and applicable laws.</p>
<p>Access to certain Accopensys web pages requires a login and a password. The use of those web pages, and the information or programs downloadable from those sites, may be governed by a written agreement between your employer and Accopensys. Unless you request deactivation of your personal information as specified below, your personal information may be retained by Accopensys to verify compliance with the agreement, log software licenses granted, track software downloaded from those pages, or track usage of other applications available on those pages.</p>

<h2 id="notice">Notice</h2>
<p>When personal information is collected, we will inform you at the point of collection the purpose for the collection. Accopensys will not transfer your personal information to third parties without your consent, except under the limited conditions described under the discussion entitled <a href="#information_sharing">"Information Sharing and Disclosure"</a> below.</p>

<p>In most cases we will provide you with the opportunity to "opt in" prior to receiving direct marketing or market research information. This means we will require your affirmative action to indicate your consent before we use your information for purposes other than the purpose for which it was submitted.  At a minimum, we will always give you the opportunity to "opt out" of receiving such materials.   This means we assume you have given us your consent to collect and use your information in accordance with this Privacy Statement unless you take affirmative action to indicate that you do not consent, for instance by clicking or checking the appropriate option or box at the point of collection.</p>

<h2 id="cookies">Cookies and Other Tracking Technologies</h2>
<p>A cookie is a small data file that certain websites write to your computer?s hard drive when you visit them. A cookie file can contain information such as a user ID that the site uses to track the pages you have visited, but the only personal information a cookie can contain is information you supply yourself. A cookie cannot read data off your hard disk or read cookie files created by other sites. Some parts of Accopensys's website use cookies to track user traffic patterns. We do this in order to determine the usefulness of our website information to our users and to see how effective our navigational structure is in helping users reach that information.</p>
<p>Some Accopensys websites and HTML-formatted e-mail newsletters may use web beacons in conjunction with cookies to understand user behavior. A web beacon is an electronic image, called a single-pixel (1x1) or clear GIF. Web beacons can recognize certain types of information on a visitor's computer, such as a visitor's cookie number, time and date of a page view, and a description of the page where the web beacon is placed. Some Web beacons may be unusable if you elect to reject their associated cookies.  Accopensys may also use customized links or other similar technologies to track email links that you click.  We may associate that information with your personal information in order to provide you more focused e-mail communications or purchase information. Each e-mail communication includes an unsubscribe link allowing you to stop delivery of that type of communication.</p>

<p>If you prefer not to receive cookies while browsing our website or via HTML-formatted emails, you can set your browser to warn you before accepting cookies and refuse the cookie when your browser alerts you to its presence. You can also refuse all cookies by turning them off in your browser, although you may not be able to take full advantage of Accopensys's website if you do so. In particular, you may be required to accept cookies in order to complete certain actions on our website. You do not need to have cookies turned on, however, to use/navigate through many parts of our website, except access to certain of Accopensys's web pages may require a login and password.</p>
<p>For additional information about cookies and other tracking technologies, including instructions for blocking their use, see <a href="http://privacy.getnetwise.org/browsing/tools/">http://privacy.getnetwise.org/browsing/tools/</a>.</p> 

<h2 id="use">How We Use Information Collected</h2>

<p>Accopensys uses information for several general purposes: to fulfill your requests for certain products and services, to personalize your experience on our website, to keep you up to date on the latest product announcements, software updates, special offers or other information we think you would like to hear about either from us or from our business partners, and to better understand your needs and provide you with better services. We may also use your information to send you, or to have our business partners send you, direct marketing information or contact you for market research.</p>

<h2 id="information_sharing">Information Sharing and Disclosure</h2>
<p>Because Accopensys is a global company, your personal information may be shared with other Accopensys offices or subsidiaries around the world. All such entities are governed by this Privacy Statement or are bound by appropriate confidentiality and data transfer agreements.</p>
<p>Your personal information is never shared outside Accopensys without your permission, except under conditions explained below. Inside Accopensys, data is stored in controlled servers with limited access. Your information may be stored and processed in the United States or any other country where Accopensys, its subsidiaries, affiliates or agents are located. </p>

<p>Accopensys may send your personal information to other companies or people under any of the following circumstances:</p>
<ul class="bulleted">
    <li>When we have your consent to share the information;</li>
    <li>If sharing your information is necessary to provide a product or service you have requested (If your information is shared with third parties we will only provide the information they need to deliver the service. Also, such companies are prohibited from using your information for any other purpose);</li>

    <li>As part of a joint sales promotion or to pass sales leads to one of our distribution partners; and</li>
    <li>To keep you up to date on the latest product announcements, software updates, special offers or other information we think you would like to hear about either from us or from our business partners (unless you have opted out of these types of communications).</li>
</ul>

<p>We will also disclose your personal information if required to do so by law, to enforce our <a href="terms">Terms of Use</a>, or in urgent circumstances, to protect personal safety, the public or our websites.</p> 

<h2 id="access">Your Ability to Access, Update or Deactivate Your Information</h2>
<p>If you are a registered user, you can review your personal information and make change requests by accessing <a href="https://intranet.accopensys.com">https://intranet.accopensys.com</a>. You may also request deactivation of your Accopensys account or any of your personal information held by us by sending an email to <a href="mailto:legal@accopensys.com">legal</a>. If you choose to deactivate your account, we will retain in our files some personal information you have requested to remove to prevent fraud, resolve disputes, troubleshoot problems, enforce our <a href="terms">Terms of Use</a>, respect your opt-out preferences, and comply with legal requirements as permitted by law.</p>

<h2 id="data_security">Data Security</h2>

<p>Your Accopensys account information is password-protected for your privacy and security. Accopensys safeguards the security of the data you send us with physical, electronic, and managerial procedures. In certain areas of our websites, Accopensys uses industry-standard SSL-encryption to enhance the security of sensitive data transmissions. While we strive to protect your personal information, we cannot ensure the security of the information you transmit to us, and so we urge you to take every precaution to protect your personal data when you are on the Internet. Change your passwords often, use a combination of letters and numbers, and make sure you use a secure browser.</p>

<h2 id="children">Children and Privacy</h2>
<p>Our websites do not target and are not intended to attract children under the age of 13. Accopensys does not knowingly solicit personal information from children under the age of 13 or send them requests for personal information.</p>

<h2 id="third_party">Third Party Sites</h2>
<p>Accopensys's website contains links to other sites. Accopensys does not share your personal information with those websites and is not responsible for their privacy practices. We encourage you to learn about the privacy policies of those companies.</p>
<p>Our website may contain links to websites operated by other companies. Some of these third-party sites may be co-branded with a Accopensys logo, even though they are not operated or maintained by Accopensys. Although we choose our business partners carefully, Accopensys is not responsible for the privacy practices of web sites operated by third parties that are linked to our site. Once you have left our website, you should check the applicable privacy statement of the third party website to determine how they will handle any information they collect from you.</p>

<h2 id="changes">Changes to this Privacy Statement</h2>

<p>Accopensys will amend this privacy statement from time to time. If we make any substantial changes in the way we use your personal information we will make that information available by posting a notice on this site.</p>

<h2 id="questions">Questions or Suggestions</h2>
<p>If you have questions or concerns about our collection, use, or disclosure of your personal information, please email us at <a href="mailto:legal@accopensys.com">legal</a>.</p>

{% endblock %}

