{% extends 'base.html' %}

{% block title %}{{ super() }} &raquo; System integration{% endblock %}

{% block content %}
<img alt="" src="/static/img/pages/system_integration.png"/>

<p>In today's organizations, Business Processes Management represents an essential piece for IT eficiency. With a good Business Process Management strategy, productivity can be highly increased. BPM focuses on next factors:</p>

<ul>
    <li>Ensure consistency</li>
    <li>Optimize processes</li>
    <li>Automate manual processes</li>
    <li>Mitigate risks</li>
    <li>Enforce performance management</li>
    <li>Our integration solutions centralizes all business processes, your company internal processes and B2B relationships</li>
</ul>

<p>Most important features include:</p>

<ul>
    <li>Guaranteed reliability</li>
    <li>High performance</li>
    <li>User friendly management tools</li>
    <li>High traceability on data errors</li>
    <li>Customizable for all business and applications</li>
    <li>High compatibility with DBMSs, applications, formats, etc.</li>
</ul>
{% endblock %}

