{% extends 'base.html' %}

{% block title %}{{ super() }} &raquo; Terms of use{% endblock %}

{% block content %}
<h1>Terms of Use</h1>
<p>
    <a href="#C1">Rules and Regulations</a><br/>
    <a href="#C2">Limited License</a><br/>
    <a href="#C3">Compliance With Applica ble Laws; Export Control Laws</a><br/>
    <a href="#C4">Trademarks</a><br/>
    <a href="#C5">General Disclaimer</a><br/>
    <a href="#C6">Disclosure; Foward-Looking Statements</a><br/>
    <a href="#C7">Cookies</a><br/>
    <a href="#C8">Products and Services Availability</a><br/>
    <a href="#C9">Links to Third Party Sites</a><br/>
    <a href="#C10">Access to Password Protected/Secure Areas</a><br/>
    <a href="#C11">Software License Agreement</a><br/>
</p>

<br/><hr/><br/>

<h2 id="C1">1. Rules and Regulations.</h2>
<p>The following rules and regulations apply to all visitors to or users of this Web Site. By accessing this Web Site, user acknowledges acceptance of these terms and conditions. Accopensys Corporation reserves the right to change these rules and regulations from time to time at its sole discretion. In the case of any violation of these rules and regulations, Accopensys reserves the right to seek all remedies available by law and in equity for such violations. These rules and regulations apply to all visits to the Accopensys Web Site, both now and in the future.</p>

<h2 id="C2">2. Limited License.</h2>
<p>Accopensys hereby authorizes you to copy materials published by Accopensys on this Web Site solely for non-commercial use within your organization (or if you are a Accopensys Partner, your customer's organization) in support of Accopensys products. No other use of the information is authorized. In consideration of this authorization, you agree that any copy of these materials which you make shall retain all copyright and other proprietary notices in the same form and manner as on the original. Except as specified above, nothing contained herein shall be construed as conferring by implication, estoppel or otherwise any license or right under any patent, trademark or copyright of Accopensys or any third party.</p>
<p>ALL CONTENTS ON THIS SITE ARE PROTECTED BY COPYRIGHT. EXCEPT AS SPECIFICALLY PERMITTED HEREIN, NO PORTION OF THE INFORMATION ON THIS WEB SITE MAY BE REPRODUCED IN ANY FORM, OR BY ANY MEANS, WITHOUT PRIOR WRITTEN PERMISSION FROM CISCO. VISITORS OR USERS ARE NOT PERMITTED TO MODIFY, DISTRIBUTE, PUBLISH, TRANSMIT OR CREATE DERIVATIVE WORKS OF ANY MATERIAL FOUND ON THIS SITE FOR ANY PUBLIC OR COMMERCIAL PURPOSES.</p>

<h2 id="C3">3. Compliance With Applicable Laws; Export Control Laws.</h2>

<p>User access to this Web Site is governed by all applicable federal, state and local laws. All information available on the Web Site is subject to U.S. export control laws and may also be subject to the laws of the country where you reside.</p>
<p>All Accopensys products and publications are commercial in nature. Use duplication, or disclosure by the United States Government is subject to the restrictions set forth in DFARS 252.227-7015 and FAR 52.227-19.</p>

<h2 id="C4">4. Trademarks.</h2>
<p>The trademarks, logos and service marks ("Marks") displayed on this Web Site are the property of Accopensys or other third parties. Users are not permitted to use these Marks without the prior written consent of Accopensys or such third party which may own the Mark. "Accopensys" is a registered trademark of Accopensys Systems, Inc.</p>

<h2 id="C5">5. General Disclaimer.</h2>
<p>Although Accopensys has attempted to provide accurate information on the Web Site, Accopensys assumes no responsibility for the accuracy of the information. Accopensys may change the programs or products mentioned at any time without notice. Mention of non-Accopensys products or services is for information purposes only and constitutes neither an endorsement nor a recommendation.</p>

<p>ALL INFORMATION PROVIDED ON THIS WEB SITE IS PROVIDED "AS IS" WITH ALL FAULTS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED. CISCO AND ITS SUPPLIERS DISCLAIM ALL WARRANTIES, EXPRESSED OR IMPLIED INCLUDING, WITHOUT LIMITATION, THOSE OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OR ARISING FROM A COURSE OF DEALING, USAGE, OR TRADE PRACTICE.</p>
<p>CISCO AND ITS SUPPLIERS SHALL NOT BE LIABLE FOR ANY INDIRECT, SPECIAL, CONSEQUENTIAL, OR INCIDENTAL DAMAGES INCLUDING, WITHOUT LIMITATION, LOST PROFITS OR REVENUES, COSTS OF REPLACEMENT GOODS, LOSS OR DAMAGE TO DATA ARISING OUT OF THE USE OR INABILITY TO USE THIS SITE OR ANY CISCO PRODUCT, DAMAGES RESULTING FROM USE OF OR RELIANCE ON THE INFORMATION PRESENT, EVEN IF CISCO OR ITS SUPPLIERS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

<h2 id="C6">6. Disclosure; Forward-Looking Statements.</h2>
<p>Some of the information on this Web Site may contain projections or other forward-looking statements regarding future events or the future financial performance of the Company. We wish to caution you that these statements are only predictions and that actual events or results may differ materially. We refer you to the documents the Company files from time to time with the Securities and Exchange Commission, specifically, the Company's most recent Form 10-K, Form 10-Q, and Form 10-Q/A. These documents contain and identify important factors that could cause the actual results to differ materially from those contained in our projections or forward-looking statements, including, among others, potential fluctuations in quarterly results, dependence on new product development; rapid technological and market change, acquisition strategy, manufacturing risks, risks associated with Internet infrastructure, volatility of stock price, financial risk management, and future growth subject to risks.</p>
 
<h2 id="C7">7. Cookies</h2>
<p>A <em>cookie</em> is a small data file that certain Web sites write to your hard drive when you visit them. A cookie file can contain information such as a user ID that the site uses to track the pages you've visited, but the only personal information a cookie can contain is information you supply yourself. A cookie can't read data off your hard disk or read cookie files created by other sites. Some parts of Accopensys Web Site use cookies to track user traffic patterns. We do this in order to determine the usefulness of Accopensys Web Site information to our users and to see how effective our navigational structure is in helping users reach that information. Accopensys Systems does not correlate this information with data about individual users, nor does it share this information or sell it to any third party.</p>

<p>If you prefer not to receive cookies on Accopensys Web Site, you can set your browser to warn you before accepting cookies and refuse the cookie when your browser alerts you to its presence. You can also refuse all cookies by turning them off in your browser. You do not need to have cookies turned on to use any area of Accopensys Web Site.</p>

<h2 id="C8">8. Products and Services Availability.</h2>
<p>Because international information is provided at this Web Site, not all products or programs mentioned will be available in your country. Please contact your local sales representative for information as to products and services available in your country.</p>
<h2 id="C9">9. Links to Third Party Sites.</h2>
<p>This Web Site may contain links to third party sites. Access to any other Internet site linked to this Web Site is at the user's own risk and Accopensys is not responsible for the accuracy or reliability of any information, data, opinions, advice or statements made on these sites. Accopensys provides these links merely as a convenience and the inclusion of such links does not imply an endorsement.</p>

<h2 id="C10">10. Access to Password Protected/Secure Areas.</h2>
<p>Access to and use of password protected and/or secure areas of the Web Site is restricted to authorized users only. Unauthorized individuals attempting to access these areas of the Web Site may be subject to prosecution.</p>

<h2 id="C11">11. Software License Agreement.</h2>
<p>Any software which you download is governed in accordance with (i) the license terms accompanying the file or (ii) if no license terms accompany the file, the terms of the license agreement which accompanied the original product licensed by you which you are updating.</p>

{% endblock %}

