
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: black; 
}
h1, h2 {
    font-weight: bold;
    font-size: 16px;
    color: #8d92be;
    margin-bottom: 12px;
}
h2 {
    font-size: 14px;
}
a {
    color: #26307f;
}    
#container {
    width: 960px;
    margin: 0 auto;
}
#header {
    position: fixed;
    width: 960px;
    height: 56px;
	padding-top: 12px;
    background-color: white;
	border-bottom: 1px solid #8d92be;
}
#logo {
    position: absolute;
    bottom: 6px;
    left: 0;
}
#menu {
    position: absolute;
    bottom: 0px;
    right: 0;
}
#menu a {
	text-decoration: none;
    color: #8d92be;
	margin-left: 16px;
	font-size: 16px;
    font-weight: bold;
}
#menu a:hover {
	color: #26307f;
}
#menu a.selected {
	color: #26307f;
}
#content {
    padding: 100px 60px 40px;
    text-align: justify;
}
#content p {
    margin: 20px 0;
}
#content ul {
    margin: 20px 0 30px;
}
#content li {
    font-size: 14px;
    color: black; 
	margin-top: 8px;
	margin-left: 24px;
	list-style-position: inside;
}
#content img {
    float: right;
    margin: 20px 0 20px 20px;
    padding: 0 5px 5px 0;
	border-right: 1px solid #8d92be;
	border-bottom: 1px solid #8d92be;
}
#content b {
	color: #26307f;
}
#contact {
    margin: 60px auto 0;
    padding: 5px 60px 20px;
    width: 540px;
	border-right: 1px solid #8d92be;
	border-bottom: 1px solid #8d92be;
}
#contact p {
	color: #26307f;
    text-align: center;
    font-weight: bold;
}
label {
    display: block;
    margin: 0 0 4px 18px;
	color: #26307f;
}
input, textarea {
    padding: 4px 18px;
	color: #26307f;
    border: none;
	border-right: 1px solid #8d92be;
	border-bottom: 1px solid #8d92be;
    background-color: #fafaff;
}
input[type=text], textarea {
    width: 90%;
    margin-bottom: 20px;
}
input[type=text] {
    height: 20px;
}
textarea {
    height: 120px;
}
input[type=submit] {
    font-weight: bold;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #f0f0ff;
}
input[type=submit]:active {
    background-color: #f0f0ff;
    border: none;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 960px;
    margin: 0 auto;
    padding: 4px 0;
    background-color: white;
    text-align: center;
    font-size: 14px;
	color: #26307f;
	border-top: 1px solid #8d92be;
}
#footer a {
    margin-left: 8px;
    color: #8d92be;
}

