{% extends 'base.html' %}

{% block title %}{{ super() }} &raquo; 404 - Page not found{% endblock %}

{% block content %}

<h1>404 - Page not found</h1>

<p>The page you requested does not exist in our site. It may be an error, or a page which has been removed. Please, use above menu to find what you are looking for.</p>

{% endblock %}

