<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html>
    <head>
		<title>{% block title %}Accopensys{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
	</head>
	<body>
        <div id="container">
            <div id="header">
                <a href="/"><img src="/static/img/logo.png" alt=""></a>
                <div id="menu">
                    <a href="/" class="{% if slug == "" %}selected{% endif %}">About us</a>
                    <a href="/application-development/" class="{% if slug == "application-development" %}selected{% endif %}">Application development</a>
                    <a href="/data-mining/" class="{% if slug == "data-mining" %}selected{% endif %}">Data mining</a>
                    <a href="/system-integration/" class="{% if slug == "system-integration" %}selected{% endif %}">System integration</a>
                    <a href="/contact-us/" class="{% if slug == "contact-us" %}selected{% endif %}">Contact us</a>
                </div>
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div id="footer">
                &copy; 2006 - 2013 Accopensys
                <a href="/privacy-statement/">Privacy statement</a> 
                <a href="/terms-of-use/">Terms of use</a>
            </div>
        </div>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-1635939-3']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
	</body>
</html>
